{% set title = "Alexa" %}
{% set active_page = "alexa_config" %}

{% extends "_base.html" %}
{% block content %}

<div>
  <div class="alert alert-warning" role="alert">
    Starting July 1, 2024, <a href="https://developer.amazon.com/en-US/docs/alexa/custom-skills/access-the-alexa-shopping-and-to-do-lists.html">Amazon is removing all support for integrating with Alexa lists</a>.
    Since USL depends on these features to integrate with Alexa, support for Alexa will be removed from USL.
  </div>
  <div class="row pb-3">
    <h4>Alexa Settings</h4>
  </div>
  <div class="row">
    {% if auth_error %}
    <div class="text-light font-weight-bold mb-3">
      <div class="badge bg-danger text-wrap font-weight-bold" style="font-size: large;">
        {{ auth_error }}
      </div>
    </div>
    {% endif %}

    {% if success_message %}
    <div class="text-light font-weight-bold mb-3">
      <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
        {{ success_message }}
      </div>
    </div>
    {% endif %}
  </div>

  {% if not user.is_linked_to_alexa %}
  <div class="row">
    <p>
      Your account is not linked to Alexa. To link your account, install the <a href="https://www.amazon.com/dp/B0BR8KW2WL">Unified Shopping List Helper</a> Alexa skill, complete the account linking process, then check back here.
    </p>
  </div>
  {% else %}
  <div class="row">
    <p>
      Your account is successfully linked to Alexa.
    </p>
    <p>
      If you want to disconnect from Alexa, or you're having trouble with the skill, try removing the skill from Alexa and <a href="https://www.amazon.com/dp/B0BR8KW2WL">re-enabling it</a>.
      <br />
      If you're seeing this page, but you're not seeing your Alexa lists on the shopping list map page, make sure you granted the requested permissions in the Alexa app.
    </p>
  </div>
  {% endif %}
</div>

{% endblock %}
