{% set title = "Reset Password" %}
{% set active_page = "change_password" %}

{% extends "_base.html" %}
{% block content %}

<div>
  <div class="row">
    <h4>Reset Password</h4>
  </div>

  <div class="row my-5">
    <form method="POST" oninput='password_confirm.setCustomValidity(password.value != password_confirm.value ? "Passwords do not match." : "")'>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" required placeholder="Your password" name="password" minlength="8" class="form-control">
        <small id="passwordHelp" class="form-text text-muted">Your password must be at least 8 characters long</small>
      </div>
      <div class="mb-3">
        <label>Confirm Your Password</label>
        <input type="password" required placeholder="Your password, again" name="password_confirm" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}