{% set title = "Log In" %}
{% set active_page = "log_in" %}

{% extends "_base.html" %}
{% block content %}

<div>
  <div class="row">
    <h4>Log in to the Shopping List API</h4>
  </div>

  <div class="row my-5">
    <form method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" required placeholder="Your email" name="username" value="{{ username }}" class="form-control">
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" required placeholder="Your password" name="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p class="mt-3">
      <a class="text-muted" style="text-decoration:none;" href='{{ url_for("forgot_password") }}'>
        Forgot your password?
      </a>
    </p>
  </div>

  <div class="row">
    {% if reset_password %}
    <div class="text-light font-weight-bold">
      <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
        Password successfully reset! You may now log in with your new password
      </div>
    </div>
    {% endif %}
    {% if login_error %}
    <div class="text-light font-weight-bold">
      <div class="badge bg-danger text-wrap font-weight-bold" style="font-size: large;">
        {{ login_error }}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
