{% set title = "Forgot Password" %}
{% set active_page = "forgot_password" %}

{% extends "_base.html" %}
{% block content %}

<div>
  <div class="row">
    <h4>Forgot Password</h4>
  </div>

  <div class="row">
    <p>
      If you forgot your password, enter your email below and we'll send you a password reset link.
    </p>
  </div>

  <div class="row my-5">
    <form method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" required placeholder="Your email" name="username" value="{{ username }}" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="row">
    {% if password_reset_error %}
    <div class="text-light font-weight-bold">
      <div class="badge bg-danger text-wrap font-weight-bold" style="font-size: large;">
        {{ password_reset_error }}
      </div>
    </div>
    {% endif %}

    {% if password_reset %}
    <div class="text-light font-weight-bold">
      <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
        Email sent! Please check your inbox
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}